@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme inline {
  --font-sans: var(--font-neue-montreal);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  body {
    @apply antialiased 
      font-sans
      bg-[#fafafa]
      text-[#151515];
  }
}

@theme {
  --shadow-card: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}
